.logo-color-left{
    color: #e7663f ;
}
.logo-color-right{
    color: #585CA7;
}
#fa-fa-font-size{
    font-size: 18px;
}
.error-msg{
    color: red;
}
#answer-signup{
    display: none;
}
#error-password{
    display: none;
    color: #585CA7;
    font-size: 11px;
}
.important-field{
    color: red;
}
.dot-removal li{
    list-style-type: none;
}
.dot-removal{
    margin-left: 0px;
    padding-left: 5px;
}